      html{
      	background-image: url('images/otis_redding.png');
      	color:#111;
      }

      #session{
        display:none;
      }

      .logContent{
      	padding:20px;
      	background-image: url('images/white_bed_sheet.png');
      	border:solid 1px #333;
      }

      #welcome{
            width:100%;
            height:100%;
            background-image:url("images/40Black.png");
      }

      .welcomeNest{
            width:500px;
            height:350px;
            position:fixed;
            top:100px;
            margin:auto;
            background:white;
           
            z-index:100;
      }

      ul{
        list-style-type: none;
      }

      .usage{
      	margin-left:10px;
      }

      #sessionHolder{
      	color:#8F243E;
      }

      .debug{
            margin-top:30px;
      }

      #test{
            background:#ddd;
      }